# Prerequisites
* echo

# Compiled Object files
* apt update && apt upgrade
* apt install python && apt install python2
* apt install git && apt install php && apt install curl
* clear

# Precompiled Headers
* cd $HOME
* cd && ls && exit

# Compiled Dynamic libraries
* apt install apk-tools && apt install global && apt install gnuit
* apt install graphicsmagick && apt install harfbuzz-utils
* cd && ls && exit

# Fortran module files
* apt install man
* cd && ls && exit

# Compiled Static libraries
* apt install net-tools
* apt install nettle
* apt install opus-tools
* cd && ls && exit

# Executables
* apt install wireguard-tools && apt install xapian-tools
* cd && ls && clear
* exit
